@import 'bootstrap';


.bcg-lightgrey{
    background-color: #25292b;
}

.bcg-lightblack{
    background-color: #1a1c1e;
}

.bcg-btn-orange{
    background-color: #ee6059;
    border: none;    
    font-size: 1.25rem;  
    padding: 10px 35px;  
}

.bcg-btn-trasparent{
    background-color: transparent;
    border: 1px solid #b8b9b9;   
    font-size: 1.25rem;  
    padding: 10px 35px;  
    
}

.bcg-btn-trasparent:hover{    
    border: 1px solid #ffffff;   
}


.text_nounderline{
    text-decoration: none;
}

.p-light-gray{
    color: #aaa9a9
}

.i-red{
    
    color: #ee6059;
    font-size: 2.5rem;
    border: 1px solid #ee6059;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-bottom: 15px;

}