@import 'bootstrap';


.bcg-lightgrey{
    background-color: #25292b;
}

.bcg-lightblack{
    background-color: #1a1c1e;
}

.bcg-btn-orange{
    background-color: #ee6059;
    border: none;    
    font-size: 1.25rem;  
    padding: 10px 35px;  
}


.text_nounderline{
    text-decoration: none;
}