@import 'bootstrap';

// -------  BACKGROUND PADDING
.card-contenent{
    padding: 0 25px;   
}
.card-contenent_p20{
    padding: 20px;
}
.card-item_p30{
    padding: 30px;
}
.card-item_p40{
    padding: 40px;
}
.p_150_30_150_30{
    padding: 150px 30px 150px 30px;
}

// -------  BACKGROUND COLORS
.bcg-lightgrey{
    background-color: #25292b;
}
.bcg-lightblack{
    background-color: #1a1c1e;
}
.bcg-btn-orange{
    background-color: #ee6059;
    border: none;    
    font-size: 1.25rem;  
    padding: 10px 35px;  
}
.bcg-btn-trasparent{
    background-color: transparent;
    border: 1px solid #b8b9b9;   
    font-size: 1.25rem;  
    padding: 10px 35px; 
}
.bcg-btn-trasparent:hover{    
    border: 1px solid #ffffff;   
}

// ------- BACKGROUND DIVISOR
.divider-candy{
    position: relative;    
    background-color:#1a1c1e;           
    height: 40px;
    width: 40px;
    transform: rotate(-45deg);     
}


// ------- TEXT OPTIONS
.text_nounderline{
    text-decoration: none;
}
.list_nodot{
    list-style: none;
}
.text-light-gray{
    color: #aaa9a9;
}
.text-middle-gray{
    color: #7a7a7a;
}
.text-fix-orange{
    color: #ee6059;
}
.i-red{    
    color: #ee6059;
    font-size: 2.5rem;
    border: 1px solid #ee6059;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-bottom: 15px;
}
.title-section-h2{
    line-height: 1.28;
    font-size: 2.5rem;
    font-weight: bold;
    color: white; 
}

// ------- IMG OPTIONS
.double-x{
    width: 30px;
    margin: 30px 0; 
}
.card-img{
    width: 100%;
}

// ------- ICONS OPTIONS

.footer-icons{
    background-color: #ee6059;
    border-radius: 5px;
    height: 40px;
    width: 40px;                       
    margin: 0 10px 10px 10px;
    color: white;
}

// ------- ANIMATION circle
// https://codepen.io/Lukas_Ertl/pen/gwprkk 
// trovato ma non riesco ad inserirlo correttamente, l'icona se messa all interno diviene animata anche lei e si sposta

  